<!-- Toolbar -->
<main>
<header class="bg-gray-800">
  <nav class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </a>
      </div><!-- col-1 -->
      <div class="hidden md:flex space-x-10" *ngIf="afAuth.authState | async">
        {{ afAuth.authState }}
        <a routerLink="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
          <i class="fas fa-list" aria-hidden="true"></i>
        </a>
        <a routerLink="/login" (click)="logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </nav>
</header>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
</main>